
nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
  
  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
  }

.background-dark{
  background:#272e38;
}
.accordion .btn-link{
  text-decoration: none !important;
}


.preview-window{
 height: 100vh;
 position: fixed;
 right: 0;
}

  .nav-item i{
    font-size: 24px;
  }
  
  nav > div a.nav-item.nav-link.active
   {
    
    background-color: #e74c3c;
  }
  .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #e74c3c;
      border-bottom:5px solid #e74c3c;
      padding:30px 25px;
  }
  .m-top{
    margin-top: 4%;
  }
.heading{
  margin-bottom: 20px;
}

.preview-img{
  position:absolute;
  left:25%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: width 0.5s ease-out;
}

.transparent {
  width: 50%
  }

  .category-nav .nav.nav-tabs{
      background: none !important;
  }

  .category-nav .nav-item{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
  }
  nav.category-nav .nav-item {
    flex: none;
    padding: 10px 35px !important;
}
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #e74c3c;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }

  
